 @charset "utf-8";
/* CSS Document */

@media screen and (min-width:1278px){
	.banner-text{top:50px;}
}
@media screen and (max-width:1277px){
	.banner-text h2{font-size:50px;}
}
@media screen and (max-width:1220px){
	.banner-text{top:20px;}
}
@media screen and (max-width:1078px){
	.banner-text h2{font-size:40px;}
	.banner-text p{width:100%;}
}
@media screen and (max-width:991px){
	header{padding:18px 0;}
	.navigation ul li{font-size:18px;}
	.navigation ul li span{display:none;}
	.navigation ul li a{padding:0 17px;}
	.start-sec h3{width:100%; font-size:35px;}
	.image-div h4{font-size:18px; margin-bottom:10px;}
	.image-div p{font-size:16px;}
	.black-sec-text h3{font-size:16px;}
	.black-sec-text h4{font-size:17px; margin-bottom:10px;}
	.black-sec-text{padding: 20px 0 0;}
	.black-sec-text p{font-size: 16px; line-height: 23px;}
	.team-text{padding:20px;}
	.team-text h4{font-size:16px; margin-bottom:15px;}
	.team-text p{font-size: 15px; line-height: 22px;}
	.arrow-div img{width:30%;}
	.arrow-div{right: -74px; width: 50%;}
	.appointment-sec h3{font-size:20px; margin-bottom:10px;}
	.appointment-sec p{font-size: 16px; margin-bottom:10px;}
	.appointment-sec input[type="submit"]{font-size:16px; line-height:35px;}
	.appointment-sec .form-control{height:35px; line-height:35px; margin-bottom:10px;}
	.appointment-sec textarea.form-control{height:50px; margin-bottom:10px;}
	.slider-sec p{font-size: 20px; line-height: 32px; margin-bottom: 30px;}
	.slider-sec p strong{font-size:20px;}
	.slider-sec span{font-size:16px;}
	.package-div h4{font-size:22px; min-height:100px;}
	.package-div ul li{font-size:16px; line-height:20px; margin-bottom:30px;}
	.contact-div{font-size:10px; min-height:125px;}
	footer{font-size:15px;}
}
@media screen and (max-width:767px){
	.navigation ul li a{padding:0px; line-height:45px;}
	.banner-text{width:70%;}
	.banner-text h2{font-size: 30px; margin-bottom:10px;}
	.banner-text p{margin-bottom:20px;}
	a.getstartbtn{width:200px; font-size:20px;}
	.start-sec{padding:50px 0 0;}
	.image-div h4{font-size:25px; margin-bottom:20px;}
	.image-div p{font-size: 18px;}
	.start-sec h3{font-size:25px;}
	.disp-none{display:block; text-align:center;}
	.textcenter{text-align:center;}
	.web-show{display:none;}
	.image-div p{margin-bottom:20px;}
	.black-sec-text h3{font-size:25px; width:46%;}
	.black-sec-text h4{font-size:25px; margin-bottom:30px; width:33%;}
	.black-sec-text p{font-size: 20px; line-height: 30px; margin-bottom:30px;}
	.team-text{padding:60px; width:100%}
	.team-text h4{font-size: 35px; margin-bottom: 40px;}
	.team-text p{font-size: 30px; line-height: 55px;}
	.team-div{margin-bottom:30px;}
	.arrow-div{right:0; width:auto;}
	.arrow-div img{width:auto;}
	.about-text{width:100%;}
	.appointment-sec h3{font-size: 25px; margin-bottom: 24px;}
	.appointment-sec p{font-size: 20px; margin-bottom: 24px;}
	.appointment-sec .form-control{height: 45px; line-height: 45px; margin-bottom: 15px;}
	.appointment-sec input[type="submit"]{font-size: 20px; line-height: 45px; margin-bottom:40px;}
	.slider-sec{width:100%;}
	.slider-sec p{font-size: 28px; line-height: 48px; margin-bottom: 40px;}
	.slider-sec p strong{font-size:24px;}
	.slider-sec span{font-size:24px;}
	.package-div h4{font-size:28px;}
	.package-div ul li{font-size: 20px; line-height: 46px; margin-bottom:20px;}
	.contact-div{font-size: 20px; min-height:auto; border-right:none;}
	footer{font-size:20px;}
}
@media screen and (max-width:576px){
	.banner-text{top:40px;}
	.banner-text p{display:none;}
	.banner-text h2{margin-bottom:30px;}
	a.getstartbtn{line-height:60px;}
	.black-sec-text h3{font-size:18px;}
	.black-sec-text h4{font-size:17px;}
}
@media screen and (max-width:435px){
	.banner-text h2{font-size:20px; margin-bottom:20px;}
	a.getstartbtn{width: 150px; font-size: 16px; line-height:40px;}
	.black-sec-text h3{width:63%;}
	.black-sec-text h4{font-size: 18px; width:46%;}
	.team-text p{font-size: 21px; line-height: 39px;}
	.social-div a{margin-right:2px;}
}
@media screen and (max-width:320px){
	body{overflow-x:hidden;}
	.banner-text{width: 100%; top:10px;}
	.black-sec-text h3{width:87%;}
	.black-sec-text h4{width:63%;}
	.team-text{padding:20px;}
	.team-text h4{font-size: 25px; margin-bottom: 40px;}
	.team-text p{font-size: 20px; line-height: 37px;}
	.arrow-div{right:-64px;}
	.arrow-div img{width: 30%;}
	.about-sec{padding:20px;}
	.social-div img{width:20%;}
	.social-div a{margin-right: 10px;}
	.slider-sec p{font-size: 18px; line-height: 28px;}
	.slider-sec p strong{font-size: 20px;}
	.slider-sec span{font-size: 16px;}
	footer{font-size: 16px;}
	.footerlinks a{padding:0 10px;}
	.social-div1 a{padding:0 10px;}
	.team-div{overflow:hidden;}
	.appointment-sec .form-control{font-size:14px;}